{% extends "base_primary.html" %}
{% block content %}
    <main id="main-content" class="w-full flex-1 py-40">
        <div id="hero"
             class="mx-auto px-4 max-w-xl py-12 sm:py-24 lg:py-32 xl:py-48">
            <div class="flex flex-col px-8 gap-2 py-12 bg-white border-2 shadow-lg text-chocolatecosmos-400 border-chocolatecosmos-400 shadow-atomictangerine-600/30">
                <h2 class="text-2xl sm:text-4xl text-center font-bold font-serif leading-tight text-neutral-800">Logged out</h2>
                <div class="flex justify-center font-sans">
                    <a href="{% url 'login' %}"
                       class="bg-pictonblue-300 hover:bg-pictonblue-500  py-2 px-4 text-2xl font-semibold text-black border-black border-2 shadow-lg focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-chocolatecosmos-400">Log
                    in again.</a>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
