{% extends "base_primary.html" %}
{% block content %}
    <main id="main-content" class="w-full py-40 flex-1">
        <div id="hero"
             class="mx-auto px-4 max-w-xl py-12 sm:py-24 lg:py-32 xl:py-48">
            <div class="flex flex-col px-8 py-12 bg-white border-2 shadow-lg text-chocolatecosmos-400 border-chocolatecosmos-400 shadow-atomictangerine-600/30">
                <h2 class="text-4xl sm:text-6xl text-center font-bold font-serif leading-tight text-chocolatecosmos-400">
                    Check your email!
                </h2>
                <p class="text-2xl font-sans mt-2 text-neutral-800">
                    If you entered a valid email address, you should have an
                    email with instructions to reset your password.
                </p>
            </div>
        </div>
    </main>
{% endblock %}
