{% extends "base_primary.html" %}
{% load customfilters %}
{% block content %}
    <main id="main-content" class="w-full py-40 flex-1">
        <div id="hero"
             class="mx-auto px-4 max-w-xl py-12 sm:py-24 lg:py-32 xl:py-48">
            <form class="flex flex-col px-8 py-12 bg-white border-2 shadow-lg text-chocolatecosmos-400 border-chocolatecosmos-400 shadow-atomictangerine-600/30 font-sans"
                  action=""
                  method="post">
                {% csrf_token %}
                <h2 class="text-4xl sm:text-6xl text-center font-bold font-serif leading-tight text-neutral-800">
                    Choose a new password
                </h2>
                <div class="text-bittersweet-500 text-sm">{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <div class="my-1 flex flex-col">
                        <div class="text-bittersweet-500 text-sm">{{ field.errors }}</div>
                        <label for="{{ field.id_for_label }}" class="font-sans font-bold text-2xl">{{ field.label }}</label>
                        {{ field|addclass:"form-control" }}
                        {% if field.help_text %}<div class="text-sm text-neutral-700">{{ field.help_text }}</div>{% endif %}
                    </div>
                {% endfor %}
                <div class="flex flex-row-reverse mt-2 justify-start space-x-2 w-full">
                    <button type="submit"
                            class="ml-2 bg-pictonblue-300 hover:bg-pictonblue-500 focus:bg-pictonblue-500 px-4 py-2 text-2xl font-bold text-black shadow-lg border-black border-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-chocolatecosmos-400">
                        Submit
                    </button>
                    <button type="reset"
                            class="ml-2 bg-bittersweet-300 hover:bg-bittersweet-500 focus:bg-bittersweet-500 px-4 py-2 text-2xl font-bold text-black shadow-lg border-black border-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-chocolatecosmos-400">
                        Clear
                    </button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
